* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


#image-site{
    background-image:url("../images/giammarco-boscaro-UkOpMcslmX8-unsplash\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

/*header section */
#weatherTitle {
    position:relative;
    background-color: #4F6644;
    color: #fff;
}

/* main site */
#main-site {
    text-align: center;
}

#instructionTitle{
    text-align: left;
    width:100%;
    margin-top:-20px;
    margin-bottom:30px;
    color:#4F6644;
}

#instructionTitle h2 {
    font-size:24px;
    font-weight:500;
}

#instructionTitle h5 {
    font-size:14px;
    font-weight: 400;
}

/*searching location */

#searchingSection {
    position:relative;
}

#searchingSection .inputLocation {
    width:100%;
}

#searchCity {
    font-size:12px;
    width:85%;
    padding:10px;
    border-radius: 20px;
    border:none;
}

input[type=text] {
    background-color: rgba(79, 102, 78, 0.6);
    color: #fff;
    display: inline-block;
}

::placeholder {
    color:#fff;
  }

.button {
    background-color: #54B6C3;
    border-radius:20px;
    padding:10px 30px;
    margin-top:10px;
    color:#fff;
    border:1px solid #fff;
}

.button:hover {
    cursor:pointer;
    background-color: #fff;
    color: #54B6C3;
}


/*weather forecast for the location */
#weatherForecast {
    width: 100%;
    position:relative;
    display: block;
    margin-top: 20px;
    text-align: center;
    color:#fff;
    background-color: rgba(79, 102, 78, 0.6);
    padding: 30px 0;
    font-size: 1rem;
    border-radius:20px;
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    from {opacity: 0}
    to {opacity: 1;}
  }


#weatherIcon {
    width:70px;
    display: block;
    margin:auto;
}


@media all and (min-width: 780px) {
    #instructionTitle{
        margin-top:0;
        margin-bottom:50px;
    }

    #instructionTitle h2 {
        font-size:34px;
    }
    
    #instructionTitle h5 {
        font-size:20px;
    }

    #weatherForecast {
        display:inline-block;
        font-size: 2rem;
        width:55%;
    }

    #searchingSection .inputLocation{
        width:55%;
    }

    #searchCity {
        font-size:18px;
        padding:20px;
    }

    #weatherIcon {
        width:100px;
    }
  }


/*map section */
#weatherLakes{
    padding: 50px 0;
    background-color: #4F6644;
    position:relative;
    color: #fff;
}

.errorMessage {
    color: #fff;
    background-color: red;
    width:100%;
}

.temperature {
    display:inline-block;
}

#mapid { 
    position:relative;
    height: 600px;
    width: 100%; 
}

#suggestionTitle h2 {
    font-size:20px;
    font-weight: 700;
}

#suggestionTitle span {
    font-size:16px;
    font-weight: 300;
    display:block;
}

@media all and (min-width: 780px) {
    #suggestionTitle h2 {
        font-size:24px;
    }

    #suggestionTitle span {
        font-size:20px;
        font-weight: 300;
        display:block;
    }
  }

/*forecast Lakes */
#locationsWeather {
    background-color:rgba(79, 102, 78, 0.7);
    border-radius: 20px;
}

.nextDays {
    background-color:#54B6C3;
    border-radius:20px;
    padding: 10px;
    width: 60%;
    border:none;
    margin-bottom:10px;
}

.locationName{
    margin-bottom:20px;
}

.nextDays:last-child {
    margin-right: 0px;
    margin-bottom:0px;
}

#closeBtn {
    position:absolute;
    font-size:25px;
    top:0;
    right:10px;
    cursor:pointer;
}

#locations {
    display:none;
}

.overlay{
    position: relative;
    height: 90%;
    background-color: #fff;
    text-align: center;
    z-index: 1;
    display: block;
}

.active {
    display:flex!important;
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100;
    align-items:center;
    justify-content: center;
    display: none;
}

footer {
    height: auto;
    width: 100%;
    background-color: #041230;
    color: #fff;
    padding: 20px 20px;
}

@media all and (min-width: 780px) {
    #closeBtn {
        display:none;
    }

    #locations {
        width:40%;
        display:block;
        position:absolute;
        z-index:1;
        bottom:0;
        text-align: center;
    }



    .nextDays {
        background-color:#54B6C3;
        margin-top: 20px;
        border-radius:20px;
        padding: 20px;
        width: 32%;
        border:none;
    }

    .active {
        display:block;
    }
    
    footer {
        height: auto;
        width: 100%;
        background-color: #041230;
        color: #fff;
        padding: 50px 20px;
    }


  }